:root {
  --slate: #111926;
  --text: #7a7a7a;
}

body {
  margin: 0;
  padding: 50px 10px 0 10px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  max-width: 1440px;
  min-height: 100vh;
  color: var(--slate);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--slate);
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
  z-index: 1000;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 10px;
  margin: 0;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger Menu Style */
.hamburger-container {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}

.hamburger-menu {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: var(--slate);
  border: none;
  transition: transform 0.3s ease;
  /* margin-right: 0; */
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--slate);
  transition: transform 0.3s ease;
}

.hamburger-menu::before {
  top: -6px;
}

.hamburger-menu::after {
  top: 6px;
}

.hamburger-menu.open {
  transform: rotate(45deg);
}

.hamburger-menu.open::before {
  transform: rotate(90deg);
  top: 0;
}

.hamburger-menu.open::after {
  transform: rotate(90deg);
  top: 0;
}

nav .nav-links {
  display: none;
  flex-direction: column;
}

nav .nav-links.show {
  display: grid;
  width: 100%;
  text-align: left;
  background-color: #fff;
  text-align: center;
}

.nav-links {
  font-size: 1.2rem;
  padding: 50px 0;
  text-align: center;
  gap: 1em;
}

header.scrolled {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-container {
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  color: var(--slate);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em 0;
}

.heading {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--slate);
  font-size: 1.3rem;
}

.post img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}

/* Title of the post */
.post h3 {
  font-size: 24px;
  line-height: 1.2;
  margin: 5px 0 10px 0;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  color: var(--slate);
  font-weight: 500;
}

/* Excerpt */
.post p {
  color: var(--text);
  font-weight: 300;
  line-height: 1.6;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

/* Post container */
.post {
  padding-bottom: 1em;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 3em;
}

@media screen and (min-width: 769px) {
  .logo {
    display: grid;
    margin: 0 auto;
  }

  .hamburger-menu {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
