<header>
  <div class="logo-menu">
    <div class="logo">
      <h1>Easier/Better/Cooler</h1>
    </div>
    <div class="hamburger-container">
      <button class="hamburger-menu" aria-label="Open Menu"></button>
    </div>
  </div>
  <nav>
    <ul class="nav-links">
      <li class="nav-link">
        <a href="/index.html">Home</a>
        <div class="styled-active-link"></div>
      </li>
      <li class="nav-link">
        <a href="/about.html">About</a>
        <div class="styled-active-link"></div>
      </li>
      <li class="nav-link">
        <a href="/blog.html">Blog</a>
        <div class="styled-active-link"></div>
      </li>
      <li class="nav-link">
        <a href="/contact.html">Contact</a>
        <div class="styled-active-link"></div>
      </li>
    </ul>
  </nav>
</header>
